.btnPrev {
  position: fixed;
  z-index: 9999;
  top: 10px;
  border-radius: 20px;
  padding: 8px 36px;
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  background-color: #b1d5ff;
  color: #12498a;
  text-decoration: none;
  box-shadow: 0px 10px 21px 2px rgba(1, 95, 172, 0.5);
}

.btnPrev:hover {
  background-color: #69afff;
}

.slideDown {
  animation: slideDownAnimate 0.6s ease forwards;
}

@keyframes slideDownAnimate {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
