.navbar {
  /* From https://css.glass */
  background: rgba(1, 5, 24, 0.84);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border: 1px solid rgba(1, 5, 24, 0.3);
}

.navbar ul .nav-link {
  color: white;
}

.navbar ul .nav-link:hover {
  color: rgb(255, 250, 207);
}

.navbar ul .nav-link.active {
  color: rgb(254, 255, 193);
}

.portfolioPage .blogsPage .container {
  position: relative;
}

.portfolioPage .blogsPage .container .contentBlog .card {
  position: relative;
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    #e9f3ff 70%,
    #87bfff 100%
  );
}

.portfolioPage .blogsPage .container .contentBlog .card .imgBlog {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.portfolioPage .blogsPage .container .contentBlog .card .title {
  font-size: 22px;
  line-height: 1.9rem;
  color: #1e1e1e;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.portfolioPage .blogsPage .container .contentBlog .card .title:hover {
  -webkit-line-clamp: unset;
}

.portfolioPage .blogsPage .container .contentBlog .card .content {
  color: #646464;
  font-size: 15px;
}

.portfolioPage .blogsPage .container .contentBlog .card .env {
  font-size: 14px;
  color: #ddad01;
  background-color: #fff9e2;
  width: fit-content;
}

.portfolioPage .blogsPage .container .contentBlog .card .env.live {
  font-size: 14px;
  color: #08b13a;
  background-color: #95ffc5;
  width: fit-content;
}

.blogsPage .container .contentBlog .card .env.end {
  font-size: 14px;
  color: #990505;
  background-color: #ffbcbc;
  width: fit-content;
}

.portfolioPage .blogsPage .container .contentBlog .card .labels {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #b1d5ff;
  color: #12498a;
}

.portfolioPage .blogsPage .container .contentBlog .card .type {
  background: -webkit-linear-gradient(
    left,
    #000000 0%,
    #000000 40%,
    #074183 100%
  );
  width: fit-content;
  color: #ffffff;
}

.portfolioPage .blogsPage .container .contentBlog .card .tools .col img {
  background: rgba(255, 255, 255, 0.79);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.portfolioPage .btn-show {
  background-color: #b1d5ff;
  color: #12498a;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 0px 10px 21px 2px rgba(1, 95, 172, 0.5);
}

.portfolioPage .btn-show:hover {
  background-color: #69afff;
  color: #12498a;
  text-decoration: none;
  font-weight: 700;
}

.portfolioPage .blogsPage .mainTitle .title {
  color: #12498a;
  background-color: #b1d5ff;
  width: fit-content;
  font-weight: 600;
}

.portfolioPage .blogsPage .mainTitle .secTitle {
  color: white;
  font-size: 18px;
}

@media (max-width: 880px) {
  .portfolioPage .blogsPage .container .contentBlog .card .imgBlog {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .portfolioPage .blogsPage .container .contentBlog .card .title {
    font-size: 22px;
    line-height: 1.9rem;
    color: #1e1e1e;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }

  .portfolioPage .blogsPage .container .contentBlog .card .title:hover {
    -webkit-line-clamp: unset;
  }
}

@media (max-width: 450px) {
  .portfolioPage .blogsPage .container .contentBlog .card .imgBlog {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .portfolioPage .blogsPage .container .contentBlog .card .title {
    -webkit-line-clamp: unset;
  }
}
