.to-top-button {
  position: fixed;
  bottom: 26px;
  right: 26px;
  background-color: #e5fa00;
  color: #000000;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 30%;
  display: none;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(20px);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  box-shadow: 0px 10px 20px 0px rgba(255, 251, 0, 0.3);
}
.to-top-button:hover {
  background-color: #f0ff46;
}

.to-top-button.visible {
  display: block;
  transform: translateY(0);
}
